---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import locales from "../../i18n/locales";
import type { UiTitles } from "../../i18n/ui";
import { withLocale } from "../../i18n/util";
import type { Locale } from "../../i18n/types";
import { getCollection } from "astro:content";
import FloatingBlob from "../../components/FloatingBlob.astro";
import Card from "../../components/Card.astro";

export const getStaticPaths = (() => {
	return locales.map((locale) => ({ params: { locale } }));
}) satisfies GetStaticPaths;

const i18n = (name: UiTitles) =>
	withLocale(Astro.params.locale as Locale, name);

// Get blogs in current language or all if params.locale is null
const blogs = await getCollection(
	"blog",
	({ id }) => !Astro.params.locale || id.startsWith(Astro.params.locale)
);
---

<BaseLayout title={i18n("index.title")} description={i18n("index.description")}>
	<FloatingBlob slot="before-content" />

	<h1>{i18n("index.title")}</h1>
	<div class="blog-list">
		{
       blogs.map((v) => {
        const locale = Astro.params.locale as string;
				const slugWithoutLocale = v.id.substring(locale.length + 1);
				const slug = slugWithoutLocale.replace(/\.mdx?$/, '');
				const href = `/${locale}/${slug}/`;

       return (<Card href={href}>
					<img src={v.data.heroImage} transition:name={v.data.heroImage} />
					<span>{v.data.title}</span>
					<Fragment slot="tags">
						{v.data.tags.map((t) => (
							<span>{t}</span>
						))}
					</Fragment>
        </Card>);
			})
		}
	</div>

	<style>
		.blog-list {
			margin: auto;

			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 1rem;
		}
	</style>
</BaseLayout>
